<!DOCTYPE html>
<html lang="zxx">

<head>
    <!-- Required meta tags-->
    <meta charset="utf-8">
    <!-- Title-->
    <title>Sharp Dress Man</title>
    <!-- Description-->
    <meta name="description" content="Personal Clothing Set Generator">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicons-->
    <link rel="apple-touch-icon" sizes="180x180" href="./img/favicons/sdm-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./img/favicons/sdm-icon.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./img/favicons/sdm-icon.png">
    <!-- Web fonts-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <!-- CSS vendors-->
    <link rel="stylesheet" href="http://exill.dk/demo/codex/template/css/bootstrap-custom.css">
    <link rel="stylesheet" href="./css/ionicons.min.css">
    <link rel="stylesheet" href="http://exill.dk/demo/codex/template/css/owl.carousel.min.css">
    <link rel="stylesheet" href="http://exill.dk/demo/codex/template/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="http://exill.dk/demo/codex/template/css/simplebar.min.css">
    <link rel="stylesheet" href="http://exill.dk/demo/codex/template/css/jquery.mb.YTPlayer.min.css">
    <!-- Main CSS-->
    <link rel="stylesheet" href="http://exill.dk/demo/codex/template/css/main.css">
    <!-- CSS Color scheme-->
    <link id="color-scheme" rel="stylesheet" href="./css/main-darkred.css">
    <!-- Custom CSS (Add your custom CSS styles to this file)-->
    <link rel="stylesheet" href="./main.component.css">
</head>

<body>
    <!-- Preloader-->
    <div class="preloader">
        <div class="preloader-block">
            <div class="preloader-icon"><span class="loading-dot loading-dot-1"></span><span class="loading-dot loading-dot-2"></span><span class="loading-dot loading-dot-3"></span></div>
        </div>
    </div>
    <div class="main-wrapper">
        <!-- Sidebar-->
        <header>
            <nav class="navbar d-md-block d-lg-none fixed-top mobile-navbar"><button class="navbar-toggler mr-auto" type="button" data-toggle="collapse" data-target="#mobileNavbarSupportedContent" aria-controls="mobileNavbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="nav-btn">Menu</span></button>
                <div class="collapse navbar-collapse order-1" id="mobileNavbarSupportedContent">
                    <ul class="navbar-nav mr-auto"></ul>
                </div>
            </nav>
            <nav class="sidebar" data-simplebar>
                <div class="sidebar-header">
                    <a href="#home" data-scroll><img class="img-fluid sidebar-avatar" src="https://i.imgur.com/YE3fyXu.png" alt="Profile avatar"></a><span class="sidebar-name">{{username}}</span>
                    <p class="sidebar-status">Experto en moda</p>
                </div>
                <div class="sidebar-menu">
                    <ul class="list-unstyled list-menu">
                        <li><a class="nav-link" href="#home-area" data-scroll>Inicio</a></li>
                        <li><a class="nav-link" href="#services-area" data-scroll>Ingresar prenda</a></li>
                        <li><a class="nav-link" href="#testimonials-area" data-scroll>Generar conjunto</a></li>
                        <li><a class="nav-link" href="#portfolio-area" data-scroll>Armario virtual</a></li>
                        <li><a class="nav-link" href="#about-area" data-scroll>Acerca de</a></li>
                        <li><a class="nav-link" href="#contact-area" data-scroll>Mandar correo</a></li>
                        <li>
                            <amplify-sign-out button-text="Cerrar sesión"></amplify-sign-out>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <div class="sections-wrapper">
            <!-- Sections-->
            <!-- Home-->
            <section class="home-area element-cover-bg galaxy-variant" id="home-area" style="background-image:url(http://exill.dk/demo/codex/template/img/home.jpg)">
                <div id="particles-js"></div>
                <div class="container h-100">
                    <div class="row h-100 align-items-center justify-content-center">
                        <div class="col-12 col-lg-8 home-content text-center">
                            <h1 class="home-name">Sharp <span>Dress</span> Man</h1>
                            <h4 class="cd-headline clip home-headline">Para personas <span class="cd-words-wrapper single-headline"><b class="is-visible">con iniciativa</b><b>con estilo</b><b>con liderazgo</b></span></h4>
                        </div>
                        <a href="#about-area" data-scroll>
                            <div class="home-mouse">
                                <div class="mouse-shape">
                                    <div class="mouse-wheel"></div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </section>
            <!-- Services-->
            <section class="single-section alt-bg services-area" id="services-area">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="section-heading">
                                <h2 class="section-title">Ingresar prenda</h2>
                                <p class="section-description">En este espacio se puede subir una foto de tu ropa para agregarlo en tu armario virtual.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!-- Single service-->
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="single-service"><i class="icon service-icon ion-logo-css3"></i>
                                <h6 class="service-title">Design Trends</h6>
                                <p class="service-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            </div>
                        </div>
                        <!-- Single service-->
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="single-service"><i class="icon service-icon ion-md-images"></i>
                                <h6 class="service-title">PSD Design</h6>
                                <p class="service-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            </div>
                        </div>
                        <!-- Single service-->
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="single-service"><i class="icon service-icon ion-logo-ionic"></i>
                                <h6 class="service-title">Customer Support</h6>
                                <p class="service-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            </div>
                        </div>
                        <!-- Single service-->
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="single-service mb-lg-0"><i class="icon service-icon ion-logo-wordpress"></i>
                                <!-- <ion-icon name="bug-outline"></ion-icon> -->
                                <h6 class="service-title">Web Development</h6>
                                <p class="service-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            </div>
                        </div>
                        <!-- Single service-->
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="single-service mb-md-0"><i class="icon service-icon ion-md-move"></i>
                                <h6 class="service-title">Fully Responsive</h6>
                                <p class="service-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            </div>
                        </div>
                        <!-- Single service-->
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="single-service mb-0"><i class="icon service-icon ion-ios-rocket"></i>
                                <h6 class="service-title">Branding</h6>
                                <p class="service-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Testimonials-->
            <section class="single-section testimonials-area alt-bg" id="testimonials-area">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="section-heading">
                                <h2 class="section-title">Generar conjunto</h2>
                                <p class="section-description">En este espacio se generaran los conjuntos de ropa mediante la descripción del evento al que asistirás.</p>
                            </div>
                        </div>
                    </div>
                    <div class="owl-carousel owl-theme">
                        <!-- Single review-->
                        <div class="single-review"><i class="icon ion-md-quote review-icon"></i>
                            <p class="review-content">Daniel did an excellent creative job. Quick and professional. Highly recommended, and will definitely work with him again.</p><img class="client-avatar" src="http://exill.dk/demo/codex/template/img/client-1.jpg" alt="Review avatar">
                            <span class="client-name">Maria Wilson</span>
                        </div>
                        <!-- Single review-->
                        <div class="single-review"><i class="icon ion-md-quote review-icon"></i>
                            <p class="review-content">Daniel did an excellent creative job. Quick and professional. Highly recommended, and will definitely work with him again.</p><img class="client-avatar" src="http://exill.dk/demo/codex/template/img/client-2.jpg" alt="Review avatar">
                            <span class="client-name">John Santana</span>
                        </div>
                        <!-- Single review-->
                        <div class="single-review"><i class="icon ion-md-quote review-icon"></i>
                            <p class="review-content">Daniel did an excellent creative job. Quick and professional. Highly recommended, and will definitely work with him again.</p><img class="client-avatar" src="http://exill.dk/demo/codex/template/img/client-3.jpg" alt="Review avatar">
                            <span class="client-name">Julia Sakura</span>
                        </div>
                        <!-- Single review-->
                        <div class="single-review"><i class="icon ion-md-quote review-icon"></i>
                            <p class="review-content">Daniel did an excellent creative job. Quick and professional. Highly recommended, and will definitely work with him again.</p><img class="client-avatar" src="http://exill.dk/demo/codex/template/img/client-1.jpg" alt="Review avatar">
                            <span class="client-name">Maria Wilson</span>
                        </div>
                        <!-- Single review-->
                        <div class="single-review"><i class="icon ion-md-quote review-icon"></i>
                            <p class="review-content">Daniel did an excellent creative job. Quick and professional. Highly recommended, and will definitely work with him again.</p><img class="client-avatar" src="http://exill.dk/demo/codex/template/img/client-2.jpg" alt="Review avatar">
                            <span class="client-name">John Santana</span>
                        </div>
                        <!-- Single review-->
                        <div class="single-review"><i class="icon ion-md-quote review-icon"></i>
                            <p class="review-content">Daniel did an excellent creative job. Quick and professional. Highly recommended, and will definitely work with him again.</p><img class="client-avatar" src="http://exill.dk/demo/codex/template/img/client-3.jpg" alt="Review avatar">
                            <span class="client-name">Julia Sakura</span>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Hire-->
            <section class="single-section element-cover-bg hire-area" id="hire-area" style="background-image:url(http://exill.dk/demo/codex/template/img/hire.jpg)">
                <div class="container">
                    <div class="row row-custom">
                        <div class="col-12 col-md-8 content-part">
                            <h1 class="hire-title">Let's work together!</h1>
                            <p class="hire-description">I am available for freelance projects. Hire me and get your project done.</p>
                        </div>
                        <div class="col-12 col-md-4 button-part"><a class="btn hire-btn button-main button-scheme" data-scroll="" href="#contact-area" role="button">Hire me</a></div>
                    </div>
                </div>
            </section>
            <!-- Portfolio-->
            <section class="single-section portfolio-area" id="portfolio-area">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="section-heading">
                                <h2 class="section-title">Armario virtual</h2>
                                <p class="section-description">A continuación se muestran todas las prendas de ropa que tienes guardadas.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!-- Filter nav-->
                        <div class="col-12">
                            <ul class="list-inline filter-control" role="group" aria-label="Filter Control">
                                <li class="list-inline-item tab-active" data-filter="*">Todo</li>
                                <li class="list-inline-item" data-filter=".brand">Playeras</li>
                                <li class="list-inline-item" data-filter=".design">Pantalones</li>
                                <li class="list-inline-item" data-filter=".photos">Zapatos</li>
                            </ul>
                        </div>
                    </div>
                    <!-- Thumbnail list-->
                    <div class="portfolio-grid row">
                        <!-- Single item-->
                        <div class="single-item col-6 col-lg-4 design">
                            <a class="portfolio-item" href="#item-1">
                                <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="http://exill.dk/demo/codex/template/img/item-1.jpg">
                                    <div class="item-content">
                                        <h6 class="content-title">Label Tag Mockup</h6><span class="content-more">Más información</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- Single item-->
                        <div class="single-item col-6 col-lg-4 photos">
                            <a class="portfolio-item" href="#item-2">
                                <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="http://exill.dk/demo/codex/template/img/item-2.jpg">
                                    <div class="item-content">
                                        <h6 class="content-title">3D Bag Mockup</h6><span class="content-more">Más información</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- Single item-->
                        <div class="single-item col-6 col-lg-4 design">
                            <a class="portfolio-item" href="#item-3">
                                <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="http://exill.dk/demo/codex/template/img/item-3.jpg">
                                    <div class="item-content">
                                        <h6 class="content-title">Modern Bag Design</h6><span class="content-more">Más información</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- Single item-->
                        <div class="single-item col-6 col-lg-4 brand">
                            <a class="portfolio-item" href="#item-4">
                                <div class="portfolio-wrapper mb-lg-0"><img class="img-fluid" alt="Item" src="http://exill.dk/demo/codex/template/img/item-4.jpg">
                                    <div class="item-content">
                                        <h6 class="content-title">Coffee Cup Design</h6><span class="content-more">Más información</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- Single item-->
                        <div class="single-item col-6 col-lg-4 brand">
                            <a class="portfolio-item" href="#item-5">
                                <div class="portfolio-wrapper mb-0"><img class="img-fluid" alt="Item" src="http://exill.dk/demo/codex/template/img/item-5.jpg">
                                    <div class="item-content">
                                        <h6 class="content-title">T-Shirt Design</h6><span class="content-more">Más información</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- Single item-->
                        <div class="single-item col-6 col-lg-4 photos">
                            <a class="portfolio-item" href="#item-6">
                                <div class="portfolio-wrapper mb-0"><img class="img-fluid" alt="Item" src="http://exill.dk/demo/codex/template/img/item-6.jpg">
                                    <div class="item-content">
                                        <h6 class="content-title">Packaging Box Mockup</h6><span class="content-more">Más información</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- Single lightbox-->
                <div class="lightbox-wrapper" id="item-1">
                    <div class="f-basis-100">
                        <div class="lightbox-close" data-modal-close><span class="close-btn"><span class="btn-line"></span></span>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-lg-5">
                                <div class="lightbox-gallery owl-carousel owl-theme"><img class="img-fluid item-img" alt="Item" src="http://exill.dk/demo/codex/template/img/item-1.jpg"><img class="img-fluid item-img" alt="Item" src="http://exill.dk/demo/codex/template/img/item-2.jpg"><img class="img-fluid item-img"
                                        alt="Item" src="http://exill.dk/demo/codex/template/img/item-3.jpg"><img class="img-fluid item-img" alt="Item" src="http://exill.dk/demo/codex/template/img/item-4.jpg"><img class="img-fluid item-img" alt="Item" src="http://exill.dk/demo/codex/template/img/item-5.jpg">
                                    <img class="img-fluid item-img" alt="Item" src="http://exill.dk/demo/codex/template/img/item-6.jpg"></div>
                            </div>
                            <div class="col-12 col-lg-7">
                                <div class="lightbox-content">
                                    <h3 class="content-title">Label Tag Mockup</h3>
                                    <div class="content-description">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda aut sapiente quo explicabo, quasi incidunt aperiam laudantium, nemo cum eaque inventore ut voluptas voluptatibus nihil! Amet soluta, ea illo sint?</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati dignissimos culpa deserunt aspernatur ipsa veritatis alias labore tempore laboriosam commodi! Ab neque sunt, odio voluptatibus, dignissimos nisi
                                            consequuntur atque qui explicabo eligendi, harum in? Amet aspernatur atque quam. Illo natus tempora explicabo deleniti molestias numquam debitis repudiandae, repellendus voluptatum soluta?</p>
                                    </div>
                                    <ul class="list-inline content-info">
                                        <li class="list-inline-item single-info"><span>Client:</span>
                                            <p>Envato</p>
                                        </li>
                                        <li class="list-inline-item single-info"><span>Categories:</span>
                                            <p><a href="#0">Branding</a>, <a href="#0">Web Design</a></p>
                                        </li>
                                        <li class="list-inline-item single-info"><span>Date:</span>
                                            <p>12 May, 2019</p>
                                        </li>
                                        <li class="list-inline-item single-info"><span>Technologies:</span>
                                            <p>HTML5, SCSS, JS</p>
                                        </li>
                                    </ul><a class="btn content-btn button-main button-scheme" href="#0" role="button">Visit Project</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single lightbox-->
                <div class="lightbox-wrapper" id="item-2">
                    <div class="f-basis-100">
                        <div class="lightbox-close" data-modal-close><span class="close-btn"><span class="btn-line"></span></span>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-lg-5">
                                <div class="lightbox-gallery owl-carousel owl-theme"><img class="img-fluid item-img" alt="Item" src="http://exill.dk/demo/codex/template/img/item-2.jpg"><img class="img-fluid item-img" alt="Item" src="http://exill.dk/demo/codex/template/img/item-1.jpg"><img class="img-fluid item-img"
                                        alt="Item" src="http://exill.dk/demo/codex/template/img/item-3.jpg"><img class="img-fluid item-img" alt="Item" src="http://exill.dk/demo/codex/template/img/item-4.jpg"><img class="img-fluid item-img" alt="Item" src="http://exill.dk/demo/codex/template/img/item-5.jpg">
                                    <img class="img-fluid item-img" alt="Item" src="http://exill.dk/demo/codex/template/img/item-6.jpg"></div>
                            </div>
                            <div class="col-12 col-lg-7">
                                <div class="lightbox-content">
                                    <h3 class="content-title">3D Bag Mockup</h3>
                                    <div class="content-description">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda aut sapiente quo explicabo, quasi incidunt aperiam laudantium, nemo cum eaque inventore ut voluptas voluptatibus nihil! Amet soluta, ea illo sint?</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati dignissimos culpa deserunt aspernatur ipsa veritatis alias labore tempore laboriosam commodi! Ab neque sunt, odio voluptatibus, dignissimos nisi
                                            consequuntur atque qui explicabo eligendi, harum in? Amet aspernatur atque quam. Illo natus tempora explicabo deleniti molestias numquam debitis repudiandae, repellendus voluptatum soluta?</p>
                                    </div>
                                    <ul class="list-inline content-info">
                                        <li class="list-inline-item single-info"><span>Client:</span>
                                            <p>Envato</p>
                                        </li>
                                        <li class="list-inline-item single-info"><span>Categories:</span>
                                            <p><a href="#0">Branding</a>, <a href="#0">Web Design</a></p>
                                        </li>
                                        <li class="list-inline-item single-info"><span>Date:</span>
                                            <p>12 May, 2019</p>
                                        </li>
                                        <li class="list-inline-item single-info"><span>Technologies:</span>
                                            <p>HTML5, SCSS, JS</p>
                                        </li>
                                    </ul><a class="btn content-btn button-main button-scheme" href="#0" role="button">Visit Project</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single lightbox-->
                <div class="lightbox-wrapper" id="item-3">
                    <div class="f-basis-100">
                        <div class="lightbox-close" data-modal-close><span class="close-btn"><span class="btn-line"></span></span>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-lg-5">
                                <div class="lightbox-gallery owl-carousel owl-theme"><img class="img-fluid item-img" alt="Item" src="http://exill.dk/demo/codex/template/img/item-3.jpg"><img class="img-fluid item-img" alt="Item" src="http://exill.dk/demo/codex/template/img/item-1.jpg"><img class="img-fluid item-img"
                                        alt="Item" src="http://exill.dk/demo/codex/template/img/item-2.jpg"><img class="img-fluid item-img" alt="Item" src="http://exill.dk/demo/codex/template/img/item-4.jpg"><img class="img-fluid item-img" alt="Item" src="http://exill.dk/demo/codex/template/img/item-5.jpg">
                                    <img class="img-fluid item-img" alt="Item" src="http://exill.dk/demo/codex/template/img/item-6.jpg"></div>
                            </div>
                            <div class="col-12 col-lg-7">
                                <div class="lightbox-content">
                                    <h3 class="content-title">Modern Bag Design</h3>
                                    <div class="content-description">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda aut sapiente quo explicabo, quasi incidunt aperiam laudantium, nemo cum eaque inventore ut voluptas voluptatibus nihil! Amet soluta, ea illo sint?</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati dignissimos culpa deserunt aspernatur ipsa veritatis alias labore tempore laboriosam commodi! Ab neque sunt, odio voluptatibus, dignissimos nisi
                                            consequuntur atque qui explicabo eligendi, harum in? Amet aspernatur atque quam. Illo natus tempora explicabo deleniti molestias numquam debitis repudiandae, repellendus voluptatum soluta?</p>
                                    </div>
                                    <ul class="list-inline content-info">
                                        <li class="list-inline-item single-info"><span>Client:</span>
                                            <p>Envato</p>
                                        </li>
                                        <li class="list-inline-item single-info"><span>Categories:</span>
                                            <p><a href="#0">Branding</a>, <a href="#0">Web Design</a></p>
                                        </li>
                                        <li class="list-inline-item single-info"><span>Date:</span>
                                            <p>12 May, 2019</p>
                                        </li>
                                        <li class="list-inline-item single-info"><span>Technologies:</span>
                                            <p>HTML5, SCSS, JS</p>
                                        </li>
                                    </ul><a class="btn content-btn button-main button-scheme" href="#0" role="button">Visit Project</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single lightbox-->
                <div class="lightbox-wrapper" id="item-4">
                    <div class="f-basis-100">
                        <div class="lightbox-close" data-modal-close><span class="close-btn"><span class="btn-line"></span></span>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-lg-5">
                                <div class="lightbox-gallery owl-carousel owl-theme"><img class="img-fluid item-img" alt="Item" src="http://exill.dk/demo/codex/template/img/item-4.jpg"><img class="img-fluid item-img" alt="Item" src="http://exill.dk/demo/codex/template/img/item-1.jpg"><img class="img-fluid item-img"
                                        alt="Item" src="http://exill.dk/demo/codex/template/img/item-2.jpg"><img class="img-fluid item-img" alt="Item" src="http://exill.dk/demo/codex/template/img/item-3.jpg"><img class="img-fluid item-img" alt="Item" src="http://exill.dk/demo/codex/template/img/item-5.jpg">
                                    <img class="img-fluid item-img" alt="Item" src="http://exill.dk/demo/codex/template/img/item-6.jpg"></div>
                            </div>
                            <div class="col-12 col-lg-7">
                                <div class="lightbox-content">
                                    <h3 class="content-title">Coffee Cup Design</h3>
                                    <div class="content-description">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda aut sapiente quo explicabo, quasi incidunt aperiam laudantium, nemo cum eaque inventore ut voluptas voluptatibus nihil! Amet soluta, ea illo sint?</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati dignissimos culpa deserunt aspernatur ipsa veritatis alias labore tempore laboriosam commodi! Ab neque sunt, odio voluptatibus, dignissimos nisi
                                            consequuntur atque qui explicabo eligendi, harum in? Amet aspernatur atque quam. Illo natus tempora explicabo deleniti molestias numquam debitis repudiandae, repellendus voluptatum soluta?</p>
                                    </div>
                                    <ul class="list-inline content-info">
                                        <li class="list-inline-item single-info"><span>Client:</span>
                                            <p>Envato</p>
                                        </li>
                                        <li class="list-inline-item single-info"><span>Categories:</span>
                                            <p><a href="#0">Branding</a>, <a href="#0">Web Design</a></p>
                                        </li>
                                        <li class="list-inline-item single-info"><span>Date:</span>
                                            <p>12 May, 2019</p>
                                        </li>
                                        <li class="list-inline-item single-info"><span>Technologies:</span>
                                            <p>HTML5, SCSS, JS</p>
                                        </li>
                                    </ul><a class="btn content-btn button-main button-scheme" href="#0" role="button">Visit Project</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single lightbox-->
                <div class="lightbox-wrapper" id="item-5">
                    <div class="f-basis-100">
                        <div class="lightbox-close" data-modal-close><span class="close-btn"><span class="btn-line"></span></span>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-lg-5">
                                <div class="lightbox-gallery owl-carousel owl-theme"><img class="img-fluid item-img" alt="Item" src="http://exill.dk/demo/codex/template/img/item-5.jpg"><img class="img-fluid item-img" alt="Item" src="http://exill.dk/demo/codex/template/img/item-1.jpg"><img class="img-fluid item-img"
                                        alt="Item" src="http://exill.dk/demo/codex/template/img/item-2.jpg"><img class="img-fluid item-img" alt="Item" src="http://exill.dk/demo/codex/template/img/item-3.jpg"><img class="img-fluid item-img" alt="Item" src="http://exill.dk/demo/codex/template/img/item-4.jpg">
                                    <img class="img-fluid item-img" alt="Item" src="http://exill.dk/demo/codex/template/img/item-6.jpg"></div>
                            </div>
                            <div class="col-12 col-lg-7">
                                <div class="lightbox-content">
                                    <h3 class="content-title">T-Shirt Design</h3>
                                    <div class="content-description">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda aut sapiente quo explicabo, quasi incidunt aperiam laudantium, nemo cum eaque inventore ut voluptas voluptatibus nihil! Amet soluta, ea illo sint?</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati dignissimos culpa deserunt aspernatur ipsa veritatis alias labore tempore laboriosam commodi! Ab neque sunt, odio voluptatibus, dignissimos nisi
                                            consequuntur atque qui explicabo eligendi, harum in? Amet aspernatur atque quam. Illo natus tempora explicabo deleniti molestias numquam debitis repudiandae, repellendus voluptatum soluta?</p>
                                    </div>
                                    <ul class="list-inline content-info">
                                        <li class="list-inline-item single-info"><span>Client:</span>
                                            <p>Envato</p>
                                        </li>
                                        <li class="list-inline-item single-info"><span>Categories:</span>
                                            <p><a href="#0">Branding</a>, <a href="#0">Web Design</a></p>
                                        </li>
                                        <li class="list-inline-item single-info"><span>Date:</span>
                                            <p>12 May, 2019</p>
                                        </li>
                                        <li class="list-inline-item single-info"><span>Technologies:</span>
                                            <p>HTML5, SCSS, JS</p>
                                        </li>
                                    </ul><a class="btn content-btn button-main button-scheme" href="#0" role="button">Visit Project</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single lightbox-->
                <div class="lightbox-wrapper" id="item-6">
                    <div class="f-basis-100">
                        <div class="lightbox-close" data-modal-close><span class="close-btn"><span class="btn-line"></span></span>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-lg-5">
                                <div class="lightbox-gallery owl-carousel owl-theme"><img class="img-fluid item-img" alt="Item" src="http://exill.dk/demo/codex/template/img/item-6.jpg"><img class="img-fluid item-img" alt="Item" src="http://exill.dk/demo/codex/template/img/item-1.jpg"><img class="img-fluid item-img"
                                        alt="Item" src="http://exill.dk/demo/codex/template/img/item-2.jpg"><img class="img-fluid item-img" alt="Item" src="http://exill.dk/demo/codex/template/img/item-3.jpg"><img class="img-fluid item-img" alt="Item" src="http://exill.dk/demo/codex/template/img/item-4.jpg">
                                    <img class="img-fluid item-img" alt="Item" src="http://exill.dk/demo/codex/template/img/item-5.jpg"></div>
                            </div>
                            <div class="col-12 col-lg-7">
                                <div class="lightbox-content">
                                    <h3 class="content-title">Packaging Box Mockup</h3>
                                    <div class="content-description">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda aut sapiente quo explicabo, quasi incidunt aperiam laudantium, nemo cum eaque inventore ut voluptas voluptatibus nihil! Amet soluta, ea illo sint?</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati dignissimos culpa deserunt aspernatur ipsa veritatis alias labore tempore laboriosam commodi! Ab neque sunt, odio voluptatibus, dignissimos nisi
                                            consequuntur atque qui explicabo eligendi, harum in? Amet aspernatur atque quam. Illo natus tempora explicabo deleniti molestias numquam debitis repudiandae, repellendus voluptatum soluta?</p>
                                    </div>
                                    <ul class="list-inline content-info">
                                        <li class="list-inline-item single-info"><span>Client:</span>
                                            <p>Envato</p>
                                        </li>
                                        <li class="list-inline-item single-info"><span>Categories:</span>
                                            <p><a href="#0">Branding</a>, <a href="#0">Web Design</a></p>
                                        </li>
                                        <li class="list-inline-item single-info"><span>Date:</span>
                                            <p>12 May, 2019</p>
                                        </li>
                                        <li class="list-inline-item single-info"><span>Technologies:</span>
                                            <p>HTML5, SCSS, JS</p>
                                        </li>
                                    </ul><a class="btn content-btn button-main button-scheme" href="#0" role="button">Visit Project</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- About-->
            <section class="single-section about-area" id="about-area">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="section-heading">
                                <h2 class="section-title">Acerca de nosotros</h2>
                                <p class="section-description">Trabajo terminal TT2020-A053.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <!-- Picture part-->
                        <div class="col-12 col-lg-5 about-img"><img class="img-fluid img-thumbnail" src="http://exill.dk/demo/codex/template/img/about-img.jpg" alt="About Picture"></div>
                        <!-- Content part-->
                        <div class="col-12 col-lg-7 about-content">
                            <div class="content-block">
                                <h2 class="content-subtitle">Who am i?</h2>
                                <h6 class="content-title">I'm Alex Smith, a visual UX/UI Designer and Web Developer</h6>
                                <div class="content-description">
                                    <p>I am a freelancer based in the United Kingdom and i have been building noteworthy UX/UI designs and websites for years, which comply with the latest design trends. I help convert a vision and an idea into meaningful
                                        and useful products. Having a sharp eye for product evolution helps me prioritize tasks, iterate fast and deliver faster.</p>
                                </div>
                                <address class="content-info">
                            <div class="row">
                              <div class="col-12 col-md-6 single-info"><span>Name:</span>
                                <p>Alex Smith</p>
                              </div>
                              <div class="col-12 col-md-6 single-info"><span>Email:</span>
                                <p><a href="mailto:daniel@example.com">alex@example.com</a></p>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-12 col-md-6 single-info"><span>Age:</span>
                                <p>21</p>
                              </div>
                              <div class="col-12 col-md-6 single-info"><span>From:</span>
                                <p>Liverpool, UK</p>
                              </div>
                            </div>
                          </address><a class="btn content-download button-main button-scheme" href="#0" role="button">Download CV</a><a class="btn content-work button-main" data-scroll="" href="#portfolio-area" role="button">My Work</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Contact-->
            <section class="single-section contact-area alt-bg" id="contact-area">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="section-heading">
                                <h2 class="section-title">Correo al instante</h2>
                                <p class="section-description">Contáctanos cuando quieras.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!-- Contact form-->
                        <div class="col-12">
                            <form class="contact-form" id="contact-form" action="php/contact.php">
                                <div class="row">
                                    <div class="col-12 col-md-6 form-group"><input class="form-control" id="contact-name" type="text" name="name" placeholder="Nombre" required=""></div>
                                    <div class="col-12 col-md-6 form-group"><input class="form-control" id="contact-email" type="email" name="email" placeholder="Email" required=""></div>
                                    <div class="col-12 form-group"><input class="form-control" id="contact-subject" type="text" name="subject" placeholder="Asunto" required=""></div>
                                    <div class="col-12 form-group form-message"><textarea class="form-control" id="contact-message" name="message" placeholder="Escribe tu mensaje aquí." rows="5" required=""></textarea></div>
                                    <div class="col-12 form-submit"><button class="btn button-main button-scheme" id="contact-submit" type="submit">Enviar mensaje</button>
                                        <p class="contact-feedback"></p>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Footer-->
            <footer class="footer-area single-section">
                <div class="container">
                    <div class="row contact-info">
                        <div class="col-12 col-sm-4">
                            <div class="single-info"><i class="info-icon icon ion-md-map"></i>
                                <p class="info-content"><a href="https://goo.gl/maps/LHxFDcVQACZZ4UXn9" target="_blank">IPN, Escuela Superior de Cómputo, México.</a></p>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="single-info"><i class="info-icon icon ion-md-call"></i>
                                <p class="info-content"><a href="tel:+525532404630">+52 5532 404630</a></p>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="single-info"><i class="info-icon icon ion-md-send"></i>
                                <p class="info-content"><a href="mailto:Sharp-Dressman@hotmail.com">Sharp-Dressman@hotmail.com</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="row mini-footer">
                        <div class="social-medias col-12 col-lg-5">
                            <a class="linkedin" href="https://www.linkedin.com/in/irving-missael-bautista-neyra-4270431a3/"><i class="icon ion-logo-linkedin"></i></a>
                            <a class="linkedin" href="https://www.linkedin.com/in/carlos-uriel-villegas-hernandez-54988290/"><i class="icon ion-logo-linkedin"></i></a>
                            <a class="github" href="https://github.com/Rengeruri/Sharp-Dress-Man"><i class="icon ion-logo-github"></i></a>
                        </div>
                        <p class="copyright-notice col-12 col-lg-7">Copyright © 2021 SDM, all rights reserved. Developed by <a href="https://www.facebook.com/Catt.ESCOM.Oficial" target="_blank">TT2020-A053</a>.</p>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <!-- Scripts-->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/isotope.pkgd.min.js"></script>
    <script src="js/animatedModal.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/simplebar.min.js"></script>
    <script src="js/jquery.mb.YTPlayer.min.js"></script>
    <script src="js/main.js"></script>
    <!-- Custom JS (Add your custom JS scripts to this file)-->
    <script src="js/custom.js"></script>
</body>

</html>