<!DOCTYPE html>
<html lang="zxx">

<head>
    <!-- Required meta tags-->
    <meta charset="utf-8">
    <!-- Title-->
    <title>Sharp Dress Man</title>
    <!-- Description-->
    <meta name="description" content="Personal Clothing Set Generator">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicons-->
    <link rel="apple-touch-icon" sizes="180x180" href="./img/favicons/sdm-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./img/favicons/sdm-icon.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./img/favicons/sdm-icon.png">
    <!-- Web fonts-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <!-- CSS vendors-->
    <link rel="stylesheet" href="http://exill.dk/demo/codex/template/css/bootstrap-custom.css">
    <link rel="stylesheet" href="./css/ionicons.min.css">
    <link rel="stylesheet" href="http://exill.dk/demo/codex/template/css/owl.carousel.min.css">
    <link rel="stylesheet" href="http://exill.dk/demo/codex/template/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="http://exill.dk/demo/codex/template/css/simplebar.min.css">
    <link rel="stylesheet" href="http://exill.dk/demo/codex/template/css/jquery.mb.YTPlayer.min.css">
    <!-- Main CSS-->
    <link rel="stylesheet" href="http://exill.dk/demo/codex/template/css/main.css">
    <!-- CSS Color scheme-->
    <link id="color-scheme" rel="stylesheet" href="./css/main-darkred.css">
    <!-- Custom CSS (Add your custom CSS styles to this file)-->
    <link rel="stylesheet" href="./main.component.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
</head>

<body>
    <!-- Preloader-->
    <div class="preloader">
        <div class="preloader-block">
            <div class="preloader-icon"><span class="loading-dot loading-dot-1"></span><span class="loading-dot loading-dot-2"></span><span class="loading-dot loading-dot-3"></span></div>
        </div>
    </div>
    <div class="main-wrapper">
        <!-- Sidebar-->
        <header>
            <nav class="navbar d-md-block d-lg-none fixed-top mobile-navbar" aria-label=""><button class="navbar-toggler mr-auto" type="button" data-toggle="collapse" data-target="#mobileNavbarSupportedContent" aria-controls="mobileNavbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="nav-btn">Menu</span></button>
                <div class="collapse navbar-collapse order-1" id="mobileNavbarSupportedContent">
                    <ul class="navbar-nav mr-auto"></ul>
                </div>
            </nav>
            <nav class="sidebar" data-simplebar aria-label="">
                <div class="sidebar-header">
                    <a href="#home" data-scroll><img class="img-fluid sidebar-avatar" src="https://i.imgur.com/YE3fyXu.png" alt="Profile avatar"></a><span class="sidebar-name">{{username}}</span>
                    <p class="sidebar-status">Experto en moda</p>
                </div>
                <div class="sidebar-menu">
                    <ul class="list-unstyled list-menu">
                        <li><a class="nav-link" href="#home-area" data-scroll>Inicio</a></li>
                        <li><a class="nav-link" href="#about-area" data-scroll>Ingresar prenda</a></li>
                        <li><a class="nav-link" href="#testimonials-area" data-scroll>Generar conjunto</a></li>
                        <li><a class="nav-link" href="#portfolio-area" data-scroll>Armario virtual</a></li>
                        <li><a class="nav-link" href="#contact-area" data-scroll>Mandar correo</a></li>
                        <li>
                            <amplify-sign-out button-text="Cerrar sesión"></amplify-sign-out>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <div class="sections-wrapper">
            <!-- Sections-->
            <!-- Inicio-->
            <section class="home-area element-cover-bg galaxy-variant" id="home-area" style="background-image:url(http://exill.dk/demo/codex/template/img/home.jpg)">
                <div id="particles-js"></div>
                <div class="container h-100">
                    <div class="row h-100 align-items-center justify-content-center">
                        <div class="col-12 col-lg-8 home-content text-center">
                            <h1 class="home-name">Sharp <span>Dress</span> Man</h1>
                            <h4 class="cd-headline clip home-headline">Para personas <span class="cd-words-wrapper single-headline"><b class="is-visible">con iniciativa</b><b>con estilo</b><b>con liderazgo</b></span></h4>
                        </div>
                        <a href="#about-area" data-scroll>
                            <div class="home-mouse">
                                <div class="mouse-shape">
                                    <div class="mouse-wheel"></div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </section>
            <!-- Ingresar Prenda-->
            <section class="single-section about-area" id="about-area">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="section-heading">
                                <h2 class="section-title">Ingresar prenda</h2>
                                <p class="section-description">En este espacio se puede subir una foto de tu ropa para ser agregada en tu armario virtual.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <!-- Picture part-->
                        <div class="col-12 col-lg-5 about-img"><img class="img-fluid img-thumbnail" src="http://exill.dk/demo/codex/template/img/about-img.jpg" alt="About Picture"></div>
                        <!-- Content part-->
                        <div class="col-12 col-lg-7 about-content">
                            <div class="content-block">
                                <h2 class="content-subtitle">¿Cómo agrego una prenda a mi armario virtual?</h2>
                                <h6 class="content-title">Cosas a tener en cuenta.</h6>
                                <div class="content-description">
                                    <p>Lo principal es contar con una imagen (.jpg, .png, .jpeg) de la prenda que se desea subir, que aparezca totalmente visible y que cuente con buena iluminacion, como dato adicional, no es necesario que la prenda aparezca
                                        suelta, tambien puedes estarla usando en la foto.
                                    </p>
                                </div>
                                <div class="content-info">
                                    <input type="file" multiple id="archivoASubir" (change)="handleUpload($event)">
                                </div>
                                <simple-notifications></simple-notifications>
                                <button class="btn content-download button-main button-scheme" role="button" (click)="uploadFile()">Agregar imágen</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Generar Conjunto-->
            <section class="single-section testimonials-area alt-bg" id="testimonials-area">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="section-heading">
                                <h2 class="section-title">Generar conjunto</h2>
                                <p class="section-description">A continuación ingrese un texto descriptivo del evento al que asistirá.</p>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="col-12 form-group form-message"><textarea class="form-control" id="textData" name="textdata" placeholder="Escribe tu evento aquí." rows="5" required=""></textarea></div>
                        <div class="col-12 form-submit"><button class="btn button-main button-scheme" id="contact-submit" (click)="uploadText()">Enviar texto</button></div>
                    </div>
                    <br>
                    <div class="owl-carousel owl-theme">
                        <!-- Single review-->
                        <div class="single-review" *ngFor="let item of eventsExamples"><em class="icon ion-md-quote review-icon"></em>
                            <p class="review-content">{{item.text}}</p><img class="client-avatar" src="{{item.urlAvatar}}" alt="Review avatar">
                            <span class="client-name">{{item.name}}</span>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Frase-->
            <section class="single-section element-cover-bg hire-area" id="hire-area" style="background-image:url(http://exill.dk/demo/codex/template/img/hire.jpg)">
                <div class="container">
                    <div class="row row-custom">
                        <div class="col-12 col-md-10 content-part" style="text-align: center;">
                            <h2 class="hire-title">"A pesar de que la elegancia y el estilo acostumbran a ser innatos, se puede aprender y sobre todo mejorar."</h2>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Armario Virtual-->
            <section class="single-section portfolio-area" id="portfolio-area">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="section-heading">
                                <h2 class="section-title">Armario virtual</h2>
                                <p class="section-description">A continuación se muestran todas las prendas de ropa que tienes guardadas.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!-- Filter nav-->
                        <div class="col-12">
                            <ul class="list-inline filter-control" role="group" aria-label="Filter Control">
                                <li class="list-inline-item tab-active" data-filter="*">Todo</li>
                                <li class="list-inline-item" data-filter=".Saco">Saco</li>
                                <li class="list-inline-item" data-filter=".Camisa">Camisa</li>
                                <li class="list-inline-item" data-filter=".Playera">Playera</li>
                            </ul>
                        </div>
                    </div>
                    <!-- Thumbnail list-->
                    <div class="portfolio-grid row">
                        <!-- Single item-->
                        <div *ngFor="let item of virtualCloset" class="single-item col-6 col-lg-4 {{item.filter}}">
                            <a class="portfolio-item" href="{{item.href}}">
                                <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="{{item.urlImage}}">
                                    <div class="item-content">
                                        <h6 class="content-title">{{item.title}}</h6><span class="content-more">Más información</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- Single lightbox-->
                <div *ngFor="let item of virtualCloset" class="lightbox-wrapper" id="{{item.id}}">
                    <div class="f-basis-100">
                        <div class="lightbox-close" data-modal-close><span class="close-btn"><span class="btn-line"></span></span>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-lg-5">
                                <div class="lightbox-gallery owl-carousel owl-theme">
                                    <img class="img-fluid item-img" alt="Item" src="{{item.urlImage}}">
                                </div>
                            </div>
                            <div class="col-12 col-lg-7">
                                <div class="lightbox-content">
                                    <h3 class="content-title">{{item.title}}</h3>
                                    <div class="content-description">
                                        <p><b>La ropa no significa nada hasta que alguien vive en ella.</b></p>
                                        <p>Abajo puede observarse las caracteristicas de la prenda seleccionada. Da click en "Borrar" si deseas eliminar esta prenda.</p>
                                    </div>
                                    <ul class="list-inline content-info">
                                        <li class="list-inline-item single-info"><span>Formalidad:</span>
                                            <p>Envato</p>
                                        </li>
                                        <li class="list-inline-item single-info"><span>Ropa:</span>
                                            <p>Web Design</p>
                                        </li>
                                        <li class="list-inline-item single-info"><span>Color:</span>
                                            <p>12 May, 2019</p>
                                        </li>
                                        <li class="list-inline-item single-info"><span>Categoría:</span>
                                            <p>HTML5, SCSS, JS</p>
                                        </li>
                                    </ul><button class="btn content-btn button-main button-scheme" href="#0" role="button">Borrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Correo-->
            <section class="single-section contact-area alt-bg" id="contact-area">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="section-heading">
                                <h2 class="section-title">Correo al instante</h2>
                                <p class="section-description">Contáctanos cuando quieras.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!-- Contact form-->
                        <div class="col-12">
                            <form class="contact-form" id="contact-form" action="php/contact.php">
                                <div class="row">
                                    <div class="col-12 col-md-6 form-group"><input class="form-control" id="contact-name" type="text" name="name" placeholder="Nombre" required=""></div>
                                    <div class="col-12 col-md-6 form-group"><input class="form-control" id="contact-email" type="email" name="email" placeholder="Email" required=""></div>
                                    <div class="col-12 form-group"><input class="form-control" id="contact-subject" type="text" name="subject" placeholder="Asunto" required=""></div>
                                    <div class="col-12 form-group form-message"><textarea class="form-control" id="contact-message" name="message" placeholder="Escribe tu mensaje aquí." rows="5" required=""></textarea></div>
                                    <div class="col-12 form-submit"><button class="btn button-main button-scheme" id="contact-submit" type="submit">Enviar mensaje</button>
                                        <p class="contact-feedback"></p>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
            <!-- PieDePagina-->
            <footer class="footer-area single-section">
                <div class="container">
                    <div class="row contact-info">
                        <div class="col-12 col-sm-4">
                            <div class="single-info"><em class="info-icon icon ion-md-map"></em>
                                <p class="info-content"><a href="https://goo.gl/maps/LHxFDcVQACZZ4UXn9" target="_blank">IPN, Escuela Superior de Cómputo, México.</a></p>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="single-info"><em class="info-icon icon ion-md-call"></em>
                                <p class="info-content"><a href="tel:+525532404630">+52 5532 404630</a></p>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="single-info"><em class="info-icon icon ion-md-send"></em>
                                <p class="info-content"><a href="mailto:Sharp-Dressman@hotmail.com">Sharp-Dressman@hotmail.com</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="row mini-footer">
                        <div class="social-medias col-12 col-lg-5">
                            <a class="linkedin" href="https://www.linkedin.com/in/irving-missael-bautista-neyra-4270431a3/"><em class="icon ion-logo-linkedin"></em></a>
                            <a class="linkedin" href="https://www.linkedin.com/in/carlos-uriel-villegas-hernandez-54988290/"><em class="icon ion-logo-linkedin"></em></a>
                            <a class="github" href="https://github.com/Rengeruri/Sharp-Dress-Man"><em class="icon ion-logo-github"></em></a>
                        </div>
                        <p class="copyright-notice col-12 col-lg-7">Copyright © 2021 SDM, all rights reserved. Developed by CUVH and IMBN <a href="https://www.facebook.com/Catt.ESCOM.Oficial" target="_blank">TT2020-A053</a>.</p>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</body>

</html>